{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="jumbotron">
        <center>
        <h1>Welcome to Galaryx</h1>
        <p>This is the Dashboard of the site<p>
        </center>
      </div>
    </div>
  </div>

  <div class="container">
  <h2>Image Gallery</h2>
  <div class="row">

    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://www.w3schools.com/w3images/lights.jpg" target="_blank">
          <img src="https://www.w3schools.com/w3images/lights.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://www.w3schools.com/w3images/nature.jpg" target="_blank">
          <img src="https://www.w3schools.com/w3images/nature.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://www.w3schools.com/w3images/fjords.jpg" target="_blank">
          <img src="https://www.w3schools.com/w3images/fjords.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://www.w3schools.com/Html/pulpitrock.jpg" target="_blank">
          <img src="https://www.w3schools.com/Html/pulpitrock.jpg" alt="Pulp it rock" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://www.w3schools.com/Html/img_girl.jpg" target="_blank">
          <img src="https://www.w3schools.com/Html/img_girl.jpg" alt="Girl" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://www.w3schools.com/Html/img_chania.jpg" target="_blank">
          <img src="https://www.w3schools.com/Html/img_chania.jpg" alt="Chania" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>

{% endblock %}
